/Church/nbproject/private/
/Church/build/
/Church/dist/
Church/nbproject/project.properties
Church/nbproject/genfiles.properties
Church/nbproject/genfiles.properties
Church/nbproject/project.properties
Church/nbproject/project.xml
Church/nbproject/project.xml
*.xml~